@model Lab08.MVC.Domain.BookProfile
@{
    ViewBag.Title = Model.Title+" editing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="editorForm">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="editorSubform">
            <label>Title</label>
            @Html.EditorFor(x => x.Title)
        </div>
        <div class="editorSubform">
            <label>Creation Year</label>
            @Html.EditorFor(x => x.CreationYear)
        </div>
        <div class="editorSubform">
            <label>Pages Count</label>
            @Html.EditorFor(x => x.PagesCount)
        </div>
        <div class="editorSubform">
            <label>Authors</label>
            @Html.EditorFor(x => x.Authors)
        </div>
        <div class="editorSubform">
            <label>Genres</label>
            @Html.EditorFor(x => x.Genres)
        </div>

        @Html.ValidationSummary()
        <button type="submit">Save</button>
    }
</div>